<h1>Projects</h1>

<ul>
  <% @projects.each do |project|%>

      <%if project.description !=nil%>
        <li><a href="/show/<%=project.id%>"><%=project.name%>-<%=project.description%></a></li>
      <%else%>
        <li><a href="/show/<%=project.id%>"><%=project.name%></a></li>
      <%end%>

  <%end%>
</ul>